.foto-de-presentacion{
    width: 140px;
    height: 140px;
    border-radius: 10em;
}

footer{
    background-color: #1B1AAD;
    border-radius: 2em;
}

.foot{
    color: white;
    margin-left: 10em;
}

.header{
    border-top-right-radius: 10em;
    border-top-left-radius: 10em;
}